<%- include  ../partials/header %>

<div class="container">
    <div class="row">
        <div class="text-center">
            <h1>Edit the Details for : <strong><%= User.username %></strong></h1>
            <p>Enter the details carefully </p>
        </div>
        <div style="width: 30%; margin: 10px auto">

            <form action="/user/<%= User._id %>?_method=PUT" method="POST">
                <div class="form-group">
                        <input class="form-control" type="text" name="username" value="<%= User.username %>" disabled required/>
                    </div> 
                <div class="form-group">
                    <input class="form-control" type="text" name="FullName" value="<%= User.FullName %>" required/>
                </div>
                <div class="form-group">
                <label for="Gender">Gender :  </label>
                 <input type="radio" name="gender" value="Male"> Male <input type="radio" name="gender" value="Female"> Female
            </div>
                
                <div class="form-group">
                    <input class="form-control" type="number" name="mNumber" value="<%= User.mNumber %>" required />
                </div>
                <div class="form-group">
                    <textarea class="form-control rounded-0" name="email" id="exampleFormControlTextarea2"
                        value="<%= User.email%>" required><%= User.email %></textarea>
                </div>
             

                <button class="btn btn-lg btn-info btn-block" type="submit">EDIT</button>
            </form>
            </form>


            <br>
            <a class="btn btn-lg btn-default btn-block" href="/bugs">View Existing Bugs</a>



        </div>
    </div>
</div>



<%- include  ../partials/footer %>