<%- include  ../partials/header %>


<div class="container">

<h3>User ID : <%= user.id %></h3>
<h3>Name : <%= user.FullName %></h3>
<h3>Username : <%= user.username %></h3>
<h3>Mobile Number : <%= user.mNumber %></h3>
<h3>Email : <%= user.email %></h3>



</div>

<%- include  ../partials/footer %>
