<%- include  ../partials/header %>
<style>
.assigned { background-color: rgb(0, 255, 21); }
.not-assigned { background-color: rgb(255, 0, 0); }  
</style>

<div class="container">

    <table class="table">
        <thead>
          <tr>
            <th scope="col">User ID</th>
            <th scope="col">Team Assigned</th>
            <th scope="col">Name</th>
            <th scope="col">Username</th>
            <th scope="col">E-MAIL</th>
            <th scope="col">Contact Number</th>
          </tr>
        </thead>
        <tbody>
                
                <% user.forEach(function(user){ %>
                  <% var team = "NO";%>
                  <% var cls="not-assigned";%>
                  <% if(user.isTeamMember === 1){%>
                  <% team = "YES";%>
                  <% cls = "assigned" }%>

          <tr class="<%= cls %>">

                <td><%= user.id %></a></td>
                <td><%= team %></a></td>
                <td><%= user.FullName %></td>
                <td><%= user.username %></td>
                <td><%= user.email %></td>
                <td><%= user.mNumber %></a></td>
               <!-- Field to be added to user schema
                <td><%= user.dateCreated %></a></td> -->
          
          </tr>
          <% }); %>
    
        </div>
    </body>
    </html>
    
    


<%- include  ../partials/footer %>