<%- include  ../partials/header %>
<style>
.assigned { background-color: rgb(0, 255, 21); }
.not-assigned { background-color: rgb(255, 0, 0); }  
</style>

<div class="container">
    <header class="jumbotron">
        <div class="container">
                <h1>All Registered Users</h1>


            <p>
                <a class="btn btn-danger btn-lg" href="/users/delete">Delete a User</a>
            </p>
        </div>
    </header>
    <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">User</th>
            <th scope="col">User ID</th>
            <th scope="col">Team Assigned</th>
            <th scope="col">Name</th>
            <th scope="col">Username</th>
            <th scope="col">E-MAIL</th>
            <th scope="col">Contact Number</th>
          </tr>
        </thead>
        <tbody>
                <% var i = 1 ;%>
                <% User.forEach(function(User){ %>
                  <% var team = "NO";%>
                  <% var cls="not-assigned";%>
                  <% if(User.isTeamMember === 1){%>
                  <% team = "YES";%>
                  <% cls = "assigned" }%>

          <tr class="<%= cls %>">
              <td><%= i %></a></td>
                <td><a style="text-decoration:none; color : #000;" href="/user/<%= User.id %>"><%= User.id %></a></td>
                <td><a style="text-decoration:none; color : #000;" href="/user/<%= User.id %>"><%= team %></a></td>
                <td><a style="text-decoration:none; color : #000;" href="/user/<%= User.id %>"><%= User.FullName %></a></td>
                <td><a style="text-decoration:none; color : #000;" href="/user/<%= User.id %>"><%= User.username %></a></td>
                <td><a style="text-decoration:none; color : #000;" href="/user/<%= User.id %>"><%= User.email %></a></td>
                <td><a style="text-decoration:none; color : #000;" href="/user/<%= User.id %>"><%= User.mNumber %></a></td>
               <!-- Field to be added to user schema
                <td><%= user.dateCreated %></a></td> -->
          
          </tr>
          <% i++ ;%>
          <% }); %>
          </tbody>
    
          </table>
        </div>
    </body>
    </html>
    
    


<%- include  ../partials/footer %>