<%- include  ../partials/header %>
<div class="container">
    <div  class="row">
        <div class= "text-center">
    <h1>Assign Bugs to User</h1>
</div>
<div style="width: 30%; margin: 10px auto">

<form action="/user/<%= User.id %>/assignwork" method="POST">
    <div class="form-group">
            <select class="form-control" name ="bugName">
                    <% Bug.forEach(function(bug){ %>
                        <% if(bug.status == "OPEN"){ %>       
                    <option value="<%= bug.id %>"><strong><%= bug.projectName %></strong> : <%= bug.title %></option>   
                    <% }  %>
                    <% }); %>
            </select>
    </div>
    

<div class="form-group">
    <label for="name" class = "form-check-label">Enter a due date</label>
     
    <input type="date" class="form-control" name="dueDate">
</div>

<div class="form-group">
    <textarea class="form-control rounded-0" name="description" id="exampleFormControlTextarea2" placeholder="Enter any description" rows="3"></textarea>
   </div>

 <button class="btn btn-lg btn-info btn-block">Submit</button>


</form>

</div>
</div>
</div>
<%- include ../partials/footer %>