<%- include ../partials/header %>



<div class="container">

<table class="table">
    <thead>
      <tr>
        <th scope="col">Message ID</th>
        <th scope="col">Date</th>
        <th scope="col">Name</th>
        <th scope="col">E-MAIL</th>
        <th scope="col">Subject</th>
        <th scope="col">Message</th>
      </tr>
    </thead>
    <tbody>
            <% contact.forEach(function(contact){ %>
      <tr>
       
            <td><a style="text-decoration:none; color : #000;" href="/contacts/<%= contact.id%>"><%= contact.id %></a></td>
            <td><%= contact.dateOfContact %></td>
            <td><%= contact.name %></td>
            <td><%= contact.email %></td>
            <td><a style="text-decoration:none; color : #000;" href="/contacts/<%= contact.id%>"><%= contact.subject %></a></td>
            <% var text = contact.message %>
            <% var maxLength = 35 %>
            <% var trim_text = text.substr(0, maxLength); %>
            <% trim_text = trim_text.substr(0, Math.min(trim_text.length, trim_text.lastIndexOf(" "))); %>
            <td><a style="text-decoration:none; color : #000;" href="/contacts/<%= contact.id%>"><%= trim_text %></a></td>
      
      </tr>
      <% }); %>

    </div>

    <%- include ../partials/footer %>
